.pageLoaderContainer {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.subLoaderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotsContainer {
  position: relative;
  height: 90px;
  width: 90px;
  margin-right: 5px;
  box-sizing: border-box;
}

.dot1 {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #006DAA;
  border-radius: 50px;
  left: 4px;
  top: 20px;
}

.dot2 {
  position: absolute;
  height: 33px;
  width: 33px;
  background-color: #006DAA;
  border-radius: 50px;
  right: 4px;
  top: 45px;
}

.dot3 {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: #006DAA;
  border-radius: 50px;
  right: 11px;
  top: 11px;
}

.loader {
  position: absolute;
  color: #006DAA !important;
}