
.bubblePageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.noBubblesIconContainer {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin-bottom: 15px;
}

.noBubblesCircle {
  position: absolute;
  height: 52px;
  width: 52px;
  background-color: #006DAA;
  border-radius: 50px;
  left: 4px;
  bottom: 4px;
}

.noBubblesAddIcon {
  position: absolute;
  color: #006DAA;
  font-size: 40px !important;
  right: 0px;
  top: 0px;
}

.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #E5E4E2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.map {
  height: 100%;
  width: 100%;
}

.noBubblesModulOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.2;
  z-index: 2;
}

.noBubblesModulContainer {
  position: absolute;
  z-index: 3;
  background: #ffffff;
  border-radius: 30px;
  height: 85%;
  width: 80%;
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noBubblesHeader {
  color: #006DAA;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Righteous', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.noBubblesSubHeader {
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.noBubblesButton {
  background: #006DAA;
  border-radius: 30px;
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.noBubblesButtonText {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.createBubblePillContainer {
  position: absolute;
  width: calc(100% - 60px);
  max-width: 500px;
  background-color: #F5F5F5;
  border-radius: 30px;
  bottom: 75px;
  z-index: 2;
  border: 1px #D6D6D6 solid;
}

.bubblePillButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 15px 0px 15px;
}

.pillButton {
  width: 60px;
  height: 5px;
  background-color: #006DAA;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pillButtonIconOpen {
  color: #ffffff;
  font-size: 30px !important;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.pillButtonIconClosed {
  color: #ffffff;
  font-size: 30px !important;
  transform: rotate(90deg);
  transition: 0.3s;
}

.bubblePillControlsContainerOpen {
  height: 65px;
  margin-bottom: 5px;
  transition: 0.3s;
  padding: 6px 15px 10px 15px;
  overflow: hidden;
  opacity: 1;
}

.bubblePillControlsContainerClosed {
  height: 0px;
  margin-bottom: 5px;
  transition: 0.3s;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
  opacity: 0;
}

.button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  border-radius: 30px;
  font-family: 'Nunito', sans-serif;
}

.pill {
  width: 105px;
  height: 30px;
}

.cancel {
  background-color: #EC3B3B;
  margin-left: 5px;
  margin-right: 5px;
}

.create {
  background-color: #006DAA;
}

.createDisabled {
  background-color: #D6D6D6;
}

.upperInputsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lowerInputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 47%;
  margin-bottom: 10px !important;
  border-radius: 30px !important;
}

.inputOutlined {
  border-color: #006DAA;
  border-radius: 30px;
}

.nameInput {
  width: 70%;
  border-radius: 30px !important;
}

.radiusInput {
  width: 30%;
  margin-bottom: 10px !important;
  border-radius: 30px !important;
}

.sliderInput {
  width: 94% !important;
  margin: 5px 0px 5px 0px !important;
  padding: 13px 0 !important;
}

.sliderLabel {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  margin-right: 10px;
}

.bubbleFocusedContainer {
  position: absolute;
  width: calc(100% - 60px);
  max-width: 500px;
  background-color: #F5F5F5;
  border-radius: 30px;
  bottom: 75px;
  z-index: 2;
  border: 1px #D6D6D6 solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 15px 0px;
}

.bubbleFocusedName {
  color: #006DAA;
  font-weight: 700;
  font-size: 25px;
  margin-left: 30px;
  font-family: 'Nunito', sans-serif;
}

.bubbleFocusedRadius {
  margin-left: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

.bubbleFocusedButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fill;
  margin: 10px 25px 0px 25px;
}

@media (max-width: 700px) {
  .sliderInput {
    margin: 0px;
  }
}
